<% @page_title = "会員情報の編集" %>
<h1><%= @page_title %></h1>

<%= form_for @tel do |form| %>
    <%= render "shared/tel_form", form: form %>
    <div><%= form.submit %></div>
<% end %>

<div class="toolbar">
  <%= link_to "<<TOP", "/tels" %>
</div>