<% @page_title = "Telephone Book" %>
<h1><%= @page_title %></h1>

<div class="toolbar"><%= link_to "add", :new_tel %></div>

<% if @tels.present? %>
  <table class="list">
    <tbody>
      <% @tels.each do |tel| %>
        <tr>
          <td style="text-align: right"><%= tel.number %></td>
          <td><%= link_to tel.full_name, tel %></td>
          <td>
            <%= link_to "edit", [:edit, tel] %> |
            <%= link_to "delete", tel, method: :delete,
              data: { confirm: "本当に削除しますか?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>会員情報がありません。</p>
<% end %>