<% @page_title = "Telephone Book" %>
<h1><%= @page_title %></h1>

<div class="toolbar"><%= link_to "add", :new_tel %></div>

<% if @tels.present? %>
  <table class="list">
    <tbody>
      <ol start="1">
        <% @tels.each do |tel| %>
          <li>
            <%= link_to tel.full_name, tel %>
            <%= link_to "edit", [:edit, tel] %> |
            <%= link_to "delete", tel, method: :delete, data: { confirm: "本当に削除しますか?" } %>
          </li>
        <% end %>
      </ol>
    </tbody>
  </table>
  <%= paginate @tels %>
<% else %>
  <p>会員情報がありません。</p>
<% end %>