<% @page_title = "友達詳細" %>
<h1><%= @page_title %></h1>
<%= render "body" %>

<%= form_for @tel do |f| %>
  <p>
    <%= f.label :tel_num, "電話番号" %>
    <%= f.text_field :tel_num %>
    <%= f.check_box :cellphone, {}, "on", "off" %>
    <%= f.submit "add" %>
  </p>
  <%= link_to "<<TOP", "/tels" %>
<% end %>

